@model VideoModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Test change.</p>
</div>

@using (Html.BeginForm("DownloadVideo", "Home", FormMethod.Post))
{
    <span>Paste url:</span> @Html.TextBoxFor(m => m.Url)
    <input id="Submit" type="submit" value="submit" />
    <br />
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Url)</span>
    <br />
    <span>From:</span> @Html.TextBoxFor(m => m.Start, new { placeholder = "hh:mm:ss"})
    <br />
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Start)</span>
    <br />
    <span>To:</span> @Html.TextBoxFor(m => m.End, new { placeholder = "hh:mm:ss"})
    <br />
    <span class="text-danger">@Html.ValidationMessageFor(m => m.End)</span>
}
