@using ClipYT.Constants;
@model MediaFileModel

<div class="d-flex flex-column align-items-center">
    <div class="mb-4" id="player-container">
        <div id="yt-player"></div>
    </div>

    <form id="app-form" method="post">
        <div class="d-flex flex-column mb-3">
            <div class="d-flex gap-3">
                <partial name="_ClearInput" model="new ClearInputViewModel { HtmlTextBox = @Html.TextBoxFor(m => m.Url, new { id = "urlInput", placeholder = "Paste YouTube video URL", inputmode="url" }) }" />
                <button title="Generate clip" id="submit-button" class="play-button"><i class="bi bi-play-circle-fill"></i></button>
            </div>
            <span id="url-validation-message" class="text-danger validation-message">@Html.ValidationMessageFor(m => m.Url)</span>
            <span id="yt-video-validation-message" class="text-danger validation-message"></span>
        </div>

        <div id="video-details">
            <div class="d-flex gap-3 justify-content-between flex-wrap mb-3">
                <div class="d-flex flex-column">
                    <div class="input-wrapper">
                        <span class="label-text">Clip start</span>
                        <div class="d-flex gap-1">
                            <partial name="_ClearInput" model="new ClearInputViewModel { HtmlTextBox = @Html.TextBoxFor(m => m.StartTimestamp, new { id = "videoStartInput", placeholder = "hh:mm:ss", @class = "time-input", inputmode="numeric", data_val = "true", data_val_timestamp = "Timestamp exceeds the video length." }) }" />
                            <button type="button" id="get-current-start-btn" title="Get current time" class="btn standard-btn" onclick="updateInputFromPlayer('videoStartInput')"><i class="bi bi-box-arrow-in-down-left"></i></button>
                        </div>
                    </div>
                    <span class="text-danger ">@Html.ValidationMessageFor(m => m.StartTimestamp)</span>
                </div>

                <div class="d-flex flex-column">
                    <div class="input-wrapper">
                        <span class="label-text">Clip end</span>
                        <div class="d-flex gap-1">
                            <partial name="_ClearInput" model="new ClearInputViewModel { HtmlTextBox = @Html.TextBoxFor(m => m.EndTimestamp, new { id = "videoEndInput", placeholder = "hh:mm:ss", @class = "time-input", inputmode="numeric" }) }" />
                            <button type="button" id="get-current-end-btn" title="Get current time" class="btn standard-btn" onclick="updateInputFromPlayer('videoEndInput')"><i class="bi bi-box-arrow-in-down-left"></i></button>
                        </div>
                    </div>
                    <span class="text-danger ">@Html.ValidationMessageFor(m => m.EndTimestamp)</span>
                </div>

                <div class="d-flex flex-column">
                    <div class="input-wrapper">
                        <span class="label-text">Length (s)</span>
                        <div class="d-flex gap-1">
                            <partial name="_ClearInput" model="new ClearInputViewModel { HtmlTextBox = @Html.TextBoxFor(m => m.ClipLength, new { id = "videoLengthInput", placeholder = "10", inputmode="numeric" }) }" />
                            <button type="button" id="clip-preview-button" title="Start clip preview" class="btn standard-btn" onclick="startClipPreview()"><i class="bi bi-play-btn"></i></button>
                        </div>
                    </div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.ClipLength)</span>
                </div>
            </div>

            <div class="d-flex justify-content-between flex-wrap gap-3">
                <div class="input-wrapper">
                    <span class="label-text">Format</span>
                    <div class="radio-wrapper">
                        @foreach (var value in Enum.GetValues(typeof(ClipYT.Enums.Format)))
                        {
                            <div class="radio-option">
                                @Html.RadioButtonFor(m => m.Format, value, new { @class = "radio-input" })
                                <div class="radio-btn">
                                    <span class="radio-span">@value.ToString()</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="input-wrapper">
                    <span class="label-text">Quality</span>
                    <div class="radio-wrapper">
                        @foreach (var value in Enum.GetValues(typeof(ClipYT.Enums.Quality)))
                        {
                            <div class="radio-option">
                                @Html.RadioButtonFor(m => m.Quality, value, new { @class = "radio-input" })
                                <div class="radio-btn">
                                    <span class="radio-span">@value.ToString()</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="app-data"
     data-yt-regex="@RegexConstants.YoutubeUrlRegex"
     data-tiktok-regex="@RegexConstants.TiktokUrlRegex"
     data-twitter-regex="@RegexConstants.TwitterUrlRegex"
     data-instagram-regex="@RegexConstants.InstagramUrlRegex"
     data-time-format-regex="@RegexConstants.TimeFormatRegex"
     data-clipyt-logo="@Url.Content("~/images/clipyt_logo_vectorized.svg")"
     data-cliptok-logo="@Url.Content("~/images/cliptok_logo_vectorized.svg")"
     data-clipx-logo="@Url.Content("~/images/clipx_logo_vectorized.svg")"
     data-clipstagram-logo="@Url.Content("~/images/clipstagram_logo_vectorized.svg")"
     data-download-url="@Url.Action("DownloadFile")"
     data-mp3-format="@ClipYT.Enums.Format.MP3.ToString()">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/yt-player.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="//www.instagram.com/embed.js"></script>
    <script src="~/js/custom-validation.js"></script>
    <script src="~/js/url-input-listener.js"></script>
    <script src="~/js/video-time-controls.js"></script>
    <script src="~/js/ajax-download.js"></script>
    <script src="~/js/clear-input-button.js"></script>
}
